VITE_APPWRITE_URL = "https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="69a676b7000b52643ee3"
VITE_APPWRITE_DATABASE_ID="69a677810029a5ba6c38"
VITE_APPWRITE_COLLECTION_ID="articles"
VITE_APPWRITE_BUCKET_ID="69a67980001377b1273c"